<div class="banner-slider-section Only-banner page-width">
  <div class="hero-slider only-banner offer-banner ">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'image' -%}
    <div class="item"> 
      <div class="banner-image">
        {% if block.settings.image.src != blank %}
          <div class="banner-offers desktop">
           <a class="desktop" href="{{ block.settings.image-url }}"><img src="{{ block.settings.image.src | img_url: "1920x" }}" /></a>
          </div>
        {% endif %}

        {% if block.settings.image-mob.src != blank %}
          <div class="banner-offers mobile">
           <a class="mobile" href="{{ block.settings.image-url }}"><img src="{{ block.settings.image-mob.src | img_url: "767x" }}" /></a>
          </div>
        {% endif %}
        
      </div>
    </div>
    {%- when 'video' -%}
         <div class="item video-banner">
        {% if block.settings.video-url != blank %}
          <a href="{{ block.settings.videourl }}">
           <video class="desktop" muted loop playsinline autoplay>
              <source src="{{ block.settings.video-url }}" type="video/mp4">
              <source src="{{ block.settings.video-url }}" type="video/ogg">
              Your browser does not support the video tag.
           </video>
          </a>
        {% endif %}
        {% if block.settings.video-url2 != blank %}
           <a href="{{ block.settings.videourl }}">
             <video class="mobile" muted loop playsinline autoplay>
                <source src="{{ block.settings.video-url2 }}" type="video/mp4">
                <source src="{{ block.settings.video-url2 }}" type="video/ogg">
                Your browser does not support the video tag.
             </video>
           </a>
         {% endif %}
         </div>
    {%- endcase block.type -%}
    
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Only banner",
    "settings": [
	],
  "blocks": [
    {
      "type": "image",
      "name": "Banner slider",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Desktop Image"
        },
        {
          "id": "image-mob",
          "type": "image_picker",
          "label": "Mobile Image"
        },
          {
            "type": "url",
            "id" : "image-url",
            "label": "Image Url"
          }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Only banner",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]		 
 }
{% endschema %}

{% stylesheet %}

.hero-slider.only-banner {
    display: block;
}
.video-banner video {
    width: 100%;
  display:block;
}


.hero-slider .banner-image img {
  width: 100%; 
}

/* .hero-slider {
  position: relative;
  z-index: 1;
} */
.hero-slider .video-banner .mobile { 
    display: none;
}
.hero-slider .banner-image .mobile {
    display: none;
}

  
.hero-slider.only-banner.offer-banner{
    margin: 20px 0px 0;
  display:none;
}
  .hero-slider.only-banner.offer-banner .slick-prev.slick-arrow {
    left: -30px!important;
}
  .hero-slider.only-banner.offer-banner .slick-next.slick-arrow {
    right: -30px!important;
}
  .hero-slider.only-banner.offer-banner.slick-initialized.slick-slider{
    display:block;
  }
.banner-offers {
   display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 10px;
}



  @media (max-width: 768px) {
  .hero-slider .video-banner .mobile, .hero-slider .banner-image .mobile{
    display:block;
  }
  .hero-slider .video-banner .desktop, .hero-slider .banner-image .desktop{
    display:none;
  }
    

  }
{% endstylesheet %}

{% javascript %}
$(".offer-banner").slick({
        slidesToShow: 2,
        slidesToScroll: 1, 
        arrows: false, 
        dots: true,
		autoplay: true,
		autoplaySpeed: 3000,

     responsive: [
          {
            breakpoint: 769,
            settings: {
  			   arrows: false,
                slidesToShow: 1,
                slidesToScroll: 1, 
               dots: false
            }
          }
        ]
});
{% endjavascript %}